body {
  margin: 0;
  padding: 0;
}
.section {
  padding-top: 200px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.main-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background: center 0px no-repeat transparent;
  background-image: url(./img/bg2.jpg);
}
.empty-list {
  text-align: center;
  padding: 5px 0 10px 0;
}